body {
  background: gray;
  color: ivory;
  text-align: center;
}
img {
  width: 60%;
}
div {
  /* border: 1px solid gold; */
}
h1 {
font-family: monospace;
font-size: 70px;
padding: 0;
margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
i {
  color: gold;
}
a {
  text-decoration: none;
  color: gold;
}
a:hover {
  color: ivory;
}

button{
  border-radius: 10px;
  background: ivory;
  font-weight:bold;
  font-size:18px;
  padding: 10px;
  cursor: pointer;
  font-family: monospace;
  transition-duration: 1s;
  tr
}
input {
  border-radius: 10px;
  background: ivory;

}
input:hover {

  background: gold;


  transition:2s;
}
button:hover{
  width:20%;
  transition:1s;
  background:red;
}
.item:hover {
  transition: 2s;
  width: 40%;
 box-shadow:6px 6px 6px 6px #222939;
 border-radius:10px;
  cursor: pointer;
}
img:hover{
  box-shadow:6px 6px 6px 6px #222939;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.itemBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.item {
  transition: 2s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.create {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
}
.formi{
text-align:end;
}
