body {
  background: gray;
  color: ivory;
  text-align: center;
}
img {
  width: 60%;
}
div {
  border: 1px solid gold;
}
h1 {
font-family: monospace;
font-size: 70px;
padding: 0;
margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
i {
  color: gold;
}
a {
  text-decoration: none;
  color: gold;
}
a:hover {
  color: ivory;
}
button {
  padding: 10px;
  cursor: pointer;
  font-family: monospace;
}
button, input {
  border-radius: 10px;
  background: ivory;
}
button:hover, input:hover {
  background: gold;
}
/* .item:active {
  width: 80%;
} */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.itemBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.create {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
}
