body {
  background: #270808;
  color: ivory;
  text-align: center;
}
img {
  width: 90%;
}
h1 {
font-family: monospace;
font-size: 90px;
padding: 0;
margin: 0;
}
h1:hover{
  color: #a52725;
  transition: 1s;
}
h2 {
  padding: 0;
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
i {
  color: gold;
}
a {
  text-decoration: none;
  color: ivory;
}
a:hover {
  color: gold;
}
button{
  border-radius: 10px;
  background: ivory;
  font-weight:bold;
  font-size:16px;
  padding: 10px;
  cursor: pointer;
  font-family: monospace;
  transition-duration: 1s;
  text-align: center;
}
form {
text-align:end;
}
input {
  border-radius: 10px;
  background: ivory;
  font-size: 18px;
}
details {
  font-family: monospace;
  font-size: 18px;
}
input:hover {
  background: gold;
  transition:1s;
}
button:hover{
  width: 60%;
  transition:1s;
  background:red;
}
img:hover{
  box-shadow:6px 6px 6px 6px #222939;
  cursor: pointer;
}
details:hover {
  cursor: pointer;
}
.item:hover {
  transition: 2s;
  width: 45%;
 box-shadow:6px 6px 6px 6px #222939;
 border-radius:10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.itemBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.item {
  position:relative;
  margin: 10px;
  transition: 2s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.create {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
}
#bigger {
  font-family: monospace;
  font-size: 35px;
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  .item {
    position:relative;
    margin: 10px;
    transition: 2s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  .itemBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  button{
  width:70%;
  text-align: center;
  }
  button:hover{
    width:90%;
  }
  .item:hover{
    width:100%;
  }
}
